*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 2px solid transparent;
    border-radius: 90px;
    background-image: linear-gradient(#CD5C5C, #CD5C5C), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    padding: 5px;
}

.title span{
    display: block;
    padding: 8px 22px;
}
.banner{
    top: 14%;
    position: absolute;
    
    color: Black;
    
}

.app-text{
    width: 100%;
    float: left;
}

.app-text h3{
    border-left: 5px solid yellow;
    font-size: 200px;
    width: 1500px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    width: 1500px;
    font-size: 180px;
    /*margin: 30px 0 30px 40px;*/
    /*line-height: 25px;*/
        color: white;
}


.prev{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 2px solid transparent;
    border-radius: 90px;
    background-image: linear-gradient(#CD5C5C, #CD5C5C), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    padding: 5px;
}

.app-picture a{
    font-family: helvetica;
    font-size: 120px;
    float: right;
    transform: translate(-50%, +10%);
}
body { 
    background-color: IndianRed;
}