<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='css/the_styles.css')}} type="text/css" />
    </head>
    <body>
        <h1> Here are the top 69 greatest hits </h1>
        <h2>Song of the day</h2> <div><p style="float: right;"><img src={{json_data['album']['images'][0]['url']}} height="200px" width="200px"></p></div>
        <p1> {{json_data['name']}}</p1> 
        <h3>Artist: {{json_data['artists'][0]['name']}}</h3>
        <a href="{{json_data['preview_url']}}">PREVIEW!</a>
        
        <h4>Top 3 favorite arists</h4>
        <h5><ol>
            <li>{{json_data0['artists'][0]['name']}}</li> <img src={{json_data['artists'][0]['images']}} height="200px" width="200px">
            <li>{{json_data0['artists'][1]['name']}}</li>
            <li>{{json_data0['artists'][2]['name']}}</li>
            </ol></h5>
    </body>
</html>
